@mixin d-flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}
@mixin img-responsive {
    width: 100%;
    height: 100%;
    @content;
}

@mixin resetList {
    padding: 0;
    list-style: none;
}

//* Breakpoints */
@mixin screen_sm() {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin screen_md() {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin screen_lg() {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}
