@mixin d-flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

//* Breakpoints */
@mixin small() {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin medium() {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin large() {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}