$color-primary: #502b79;
$color-secondary: #1a73e8;
$color-dark: #202232;
$color-light: #f8f9fa;
$color-darker: #3a2058;

$color-white: #ffffff;
$color-black: #000000;
$color-alice: #ebf2fa;
$color-grey: #455a64;
