@import '../../../styles/abstracts/_variables.scss';

.button {
    display: inline-block !important;
    margin: 10px !important;
}

.bgGreen {
    background-color: green;
    color: $color-light;
}

.counterCardRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.counterCardIcon {
    font-size: 30px;
    margin-right: 15px;
    transform: rotateZ(-45deg);
}
