@import '../abstracts/abstracts', './resets', './typography';

:root {
    @include screen_sm {
        font-size: 0.9rem;
    }
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-dark;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container-fixed {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    /* overflow: hidden; */
    padding: 0 5px;
}

.bg-secondary {
    background-color: $color-light;
}
.dark .bg-secondary {
    background-color: $color-dark;
}

a {
    text-decoration: none;
}
input:-webkit-autofill {
    caret-color: inherit !important;
    box-shadow: 0 0 0 30px transparent inset !important;
    background-color: transparent !important;
    -webkit-text-fill-color: inherit !important;
}
